
.radius {
  border-radius: 5%;
}

.shadowtwo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text {
  color: #fafafa;
  font-size: 50px;
  font-family: 'Fira Sans', sans-serif;

}
.text-two {
   color: #fafafa;
   font-size: 25px;
   font-family: 'Fira Sans', sans-serif;

}

.text-three {
   color: #fafafa;
   font-size: medium;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 18px;

}

.text-four {
   color: #fafafa;
   font-size: small;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 14px;
}

.blue {
  background-color: #BADEFC;
}

.white {
  background-color: #f2f3f4;

}

.orange {
  background-color: #F2A359;
}

.red {
  background-color: #ba434b;
}

.black {
  background-color: #0B0c10;
}

.dgrey {
  background-color:  #474b4f;
}

.lgrey {
  background-color: #C5C6C7;
}

.lgreen {
  background-color: #86c232;
}

.dgreen {
  background-color: #61892f;
}

.dgrey-text {
  color: #474b4f;
}

.lgrey-text {
  color: #C5C6C7;
}

.lgreen-text {
  color: #86c232;
}

.dgreen-text {
  color: #61892f;
}

.orange-text {
  color: #F2A359
}

.white-text {
  color: #f2f3f4;

}

.hover:hover {
  color:  #fafafa;
}
.icon-head {
  font-size: 40px;
}

.icon-one {
  font-size: 50px;
}
.icon-two {
  font-size: 25px;
}

.icon-three {
  font-size: 18px;
}

.icon-four {
  font-size: 14px;
}

.width {
  width: 50%
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.plus {
  position: absolute;
}

.mode {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color:#fafafa;
  opacity: 30%;
}

.filter {
  height: 82%;
  width: 90%;
  z-index: 9999;
  background-color: #C5C6C9;
  position: absolute;
  top: 15%;
  left: 5%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.settings-btn {
  height: 100%;
  width: 90%
}

a {
  color: inherit;
  text-decoration: none;
}
 .chh_ended {
   width: 100%
 }

 .green {
   background-color: #228B22
 }

 .green-circle {
  background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,   #61892f 0%, #86c232 83.6% );
 }

 .textarea {
   width: 80%;
   height: 300px;
 }

 .note {
   width: 90%;
 }
