.text {
  color: #fafafa;
  font-size: 50px;
  font-family: 'Fira Sans', sans-serif;

}
.text-two {
   color: #fafafa;
   font-size: 25px;
   font-family: 'Fira Sans', sans-serif;

}

.text-three {
   color: #fafafa;
   font-size: medium;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 18px;

}

.text-four {
   color: #fafafa;
   font-size: small;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 14px;
}

.blue {
  background-color: #BADEFC;
}

.white {
  background-color: #f5f5dc;

}

.orange {
  background-color: #F2A359;
}

.red {
  background-color: #ba434b;
}

.orange-text {
  color: #F2A359
}

.hover:hover {
  color: #F2A359
}

.icon-one {
  font-size: 50px;
}
.icon-two {
  font-size: 25px;
}

.icon-three {
  font-size: 18px;
}

.icon-four {
  font-size: 14px;
}

.width {
  width: 50%
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.plus {
  position: absolute;
}

.mode {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color:#fafafa;
  opacity: 30%;
}

.filter {
  height: 80%;
  width: 90%;
  z-index: 9999;
  background-color: #f5f5dc;
  position: absolute;
  top: 15%;
  left: 5%;
  border-radius: 1rem;
}
.settings-btn {
  height: 100%;
  width: 90%
}

a {
  color: inherit;
  text-decoration: none;
}
 .chh_ended {
   width: 100%
 }
