.text {
  color: #fafafa;
  font-size: 50px;
  font-family: 'Fira Sans', sans-serif;

}
.text-two {
   color: #fafafa;
   font-size: 25px;
   font-family: 'Fira Sans', sans-serif;

}

.text-three {
   color: #fafafa;
   font-size: medium;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 18px;

}

.text-four {
   color: #fafafa;
   font-size: small;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 14px;
}

.blue {
  background-color: #BADEFC;
}

.white {
  background-color: #f5f5dc;

}

.orange {
  background-color: #F2A359;
}

.orange-text {
  color: #F2A359
}

.hover:hover {
  color: #F2A359
}

.icon-one {
  font-size: 50px;
}
.icon-two {
  font-size: 25px;
}

.icon-three {
  font-size: 18px;
}

.icon-four {
  font-size: 14px;
}

.width {
  width: 50%
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.plus {
  position: absolute;
}

.filter {
  height: 70%;
  width: 90%;
  z-index: 0;
  background-color: #f5f5dc;
  position: absolute;
  top: 25%;
  left: 5%;
  border-radius: 1rem;
}
